In [377]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
import datetime as dt
import calendar
from itertools import combinations 
import itertools as it

In [309]:
data = pd.read_csv('movie_bd_v5.csv')
data.head(2)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,7.1,2015

In [310]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

In [311]:
import time
start_time = time.time()

print("--- %s секунд ---" % (time.time() - start_time))

--- 0.0 секунд ---

# Предобработка

In [312]:
data = pd.read_csv('movie_bd_v5.csv')

answers = {} # создадим словарь для ответов

# преобразование данных из release_date и release_year в формат datatime 
data.release_date = pd.to_datetime(data.release_date, format='%m/%d/%Y')
#data.release_year = pd.to_datetime(data.release_year, format='%Y')

# ВАРИАНТ 2
data.release_year = data.release_date.dt.year

# добавление поля profit = revenue - budget 
data['profit'] = data.revenue - data.budget 

# преобразование в итерируемые данных из genres, production_companies, director и cast с разделением по символу '|' 
spliting = lambda x: x.split('|') 

data.genres = data.genres.map(spliting)
data.production_companies = data.production_companies.map(spliting)
data.cast = data.cast.map(spliting)
data.director = data.director.map(spliting)

# список всех возможных director, production_companies, cast и genres из датасета
genres_counted = Counter(data.genres.sum())
production_companies_counted = Counter(data.production_companies.sum())
cast_counted = Counter(data.cast.sum())
director_counted = Counter(data.director.sum())

list_director = list(director_counted.keys())
list_production_companies = list(production_companies_counted.keys())
list_cast = list(cast_counted.keys())
list_genres = list(genres_counted.keys())

# натболее часто встречающаяся позиция в director, production_companies, cast и genres из датасета
genre_N1 = genres_counted.most_common(1)
production_companie_N1 = production_companies_counted.most_common(1)
cast_N1 = cast_counted.most_common(1)
director_N1 = director_counted.most_common(1)

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [313]:
answers['1'] = '5 - Pirates of the Caribbean: On Stranger Tides'

In [314]:
data.original_title[data.budget == data.budget.max()]

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

ВАРИАНТ 2

In [315]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [316]:
answers['2'] = '2 - Gods and Generals'

In [317]:
data.original_title[data.runtime == data.runtime.max()]

1157    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [318]:
answers['3'] = '3 - Winnie the Pooh'

In [319]:
data.original_title[data.runtime == data.runtime.min()]

768    Winnie the Pooh
Name: original_title, dtype: object

# 4. Какова средняя длительность фильмов?

In [320]:
answers['4'] = '2 - 110'

In [321]:
round(data.runtime.mean())

110

# 5. Каково медианное значение длительности фильмов?

In [322]:
answers['5'] = '1 - 107'

In [323]:
data.runtime.median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [324]:
answers['6'] = '5 - Avatar'

In [325]:
data.original_title[data.profit == data.profit.max()]

239    Avatar
Name: original_title, dtype: object

# 7. Какой фильм самый убыточный?

In [326]:
answers['7'] = '5 - The Lone Ranger'

In [327]:
data.original_title[data.profit == data.profit.min()]

1245    The Lone Ranger
Name: original_title, dtype: object

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [328]:
answers['8'] = '1 - 1478'

In [329]:
data.profit[data.profit > 0].count()

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [330]:
answers['9'] = '4 - The Dark Knight'

In [331]:
df_2008 = data[data.release_date.dt.year == 2008]
df_2008.original_title[df_2008.revenue == df_2008.revenue.max()]

599    The Dark Knight
Name: original_title, dtype: object

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [332]:
answers['10'] = '5 - The Lone Ranger'

In [333]:
df_2012_2014 = data[(data.release_date.dt.year >= 2012) & (2014 >= data.release_date.dt.year)]
df_2012_2014.original_title[df_2012_2014.profit == df_2012_2014.profit.min()]

1245    The Lone Ranger
Name: original_title, dtype: object

# 11. Какого жанра фильмов больше всего?

In [334]:
answers['11'] = '3 - Drama'

In [335]:
genres_counted = Counter(data.genres.sum())
genres_counted.most_common(1)

[('Drama', 782)]

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [336]:
answers['12'] = '1 - Drama'

In [337]:
movie_with_profit = data[data.profit > 0]
counter_profit_movie = Counter(movie_with_profit.genres.sum())
best_profit_movie = counter_profit_movie.most_common(1)
best_profit_movie

[('Drama', 560)]

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [338]:
answers['13'] = '5 - Peter Jackson'

In [339]:
nv = dict()

def count_value(item, value):
    for i in item:
        if i in nv:
            nv[i] += value
        else:
            nv[i] = value
    return

for i in data.index:
    stroka = data['director'][i]
    count_value(stroka, data['revenue'][i])

nv_series = pd.Series(nv)
nv_series = pd.Series(nv).sort_values(ascending=False)
nv_series.index[0]

'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [340]:
answers['14'] = '3 - Robert Rodriguez'

In [341]:
sorted_data1 = data[data.genres.apply(lambda list_genres: 'Action' in list_genres)]

director_counted1 = Counter(sorted_data1.director.sum())
best_Action_director = director_counted1.most_common(1)
best_Action_director

[('Robert Rodriguez', 9)]

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [342]:
answers['15'] = '3 - Chris Hemsworth'

In [343]:
df_2012 = data[data.release_date.dt.year == 2012].copy()

nv = dict()

def count_value(item, value):
    for i in item:
        if i in nv:
            nv[i] += value
        else:
            nv[i] = value
    return

for j in df_2012.index:
    stroka = data['cast'][j]
    count_value(stroka, data['revenue'][j])

nv_series = pd.Series(nv)
nv_series = pd.Series(nv).sort_values(ascending=False)
display(nv_series.index[0],nv_series.values[0])

'Chris Hemsworth'

2027450773

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов? Примечание: в фильмах, где бюджет выше среднего по данной выборке.

In [344]:
answers['16'] = '3 - Matt Damon'

In [345]:
sorted_data_cast_high_profit = data.cast[data.budget > data.budget.mean()]
cast_counted_high_profit = Counter(sorted_data_cast_high_profit.sum())
cast_high_profit_N1 = cast_counted_high_profit.most_common(1)
cast_high_profit_N1

[('Matt Damon', 18)]

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [346]:
answers['17'] = '2 - Action'

In [347]:
data_cage = data[data.cast.apply(lambda list_cast: 'Nicolas Cage' in list_cast)]
genres_counted_cage = Counter(data_cage.genres.sum())
list_genres = list(genres_counted_cage.keys())
genre_N1_cage = genres_counted_cage.most_common(1)
genre_N1_cage

[('Action', 17)]

# 18. Самый убыточный фильм от Paramount Pictures

In [348]:
answers['18'] = '1 - K-19: The Widowmaker'

In [349]:
sorted_data = data[data.production_companies.apply(lambda list_company: 'Paramount Pictures' in list_company)]
sorted_data.original_title[sorted_data.profit == sorted_data.profit.min()]

925    K-19: The Widowmaker
Name: original_title, dtype: object

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [350]:
answers['19'] = '5 - 2015'

In [351]:
years = data.release_year.unique()
year_dict = dict()

for item in range(len(data)):
    year = data.release_year.values[item]
    if year in  year_dict:
        year_dict[year] += data.revenue.values[item]
    else:
        year_dict[year] = data.revenue.values[item]

year_dict_series = pd.Series(year_dict).sort_values(ascending=False)
display(year_dict_series.index[0],year_dict_series.values[0])

2015

25449202382

# 20. Какой самый прибыльный год для студии Warner Bros?

In [352]:
answers['20'] = '1 - 2014'

In [353]:
def find_name(name, sets):
    switch = False
    for item in sets:
        if item.find(name) == -1:
            switch = switch or False
        else:
            switch = switch or True
    return switch

sorted_data = data[data.production_companies.apply(lambda set_of_names: find_name('Warner Bros', set_of_names))]

years = sorted_data.release_year.unique()
year_dict = dict()

for item in range(len(sorted_data)):
    year = sorted_data.release_year.values[item]
    if year in  year_dict:
        year_dict[year] += sorted_data.profit.values[item]
    else:
        year_dict[year] = sorted_data.profit.values[item]

year_dict_series = pd.Series(year_dict).sort_values(ascending=False)
display(year_dict_series.index[0],year_dict_series.values[0])

2014

2295464519

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [354]:
answers['21'] = '4 - 9'

In [355]:
month_series = pd.Series(0, range(1,13))
for item in data.release_date.dt.month.values:
    month_series[item] += 1

calendar.month_abbr[month_series.idxmax()]

'Sep'

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [356]:
answers['22'] = '2 - 450'

In [357]:
data_summer = data.imdb_id[(data.release_date.dt.month.values == 6)|
                           (data.release_date.dt.month.values == 7)|
                           (data.release_date.dt.month.values == 8)]
data_summer.count()

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [358]:
answers['23'] = '5 - Peter Jackson'

In [359]:
# переделать, т.к. режисеров может быть несколько

data_winter = data[(data.release_date.dt.month.values == 1)|
                   (data.release_date.dt.month.values == 2)|
                   (data.release_date.dt.month.values == 12)]
genres_counted_winter = Counter(data_winter.director.sum())
genre_N1_director_winter = genres_counted_winter.most_common(1)
genre_N1_director_winter

[('Peter Jackson', 7)]

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [360]:
answers['24'] = '5 - Four By Two Productions'

In [361]:
data.original_title.apply(lambda lenght: len(lenght)).sort_values(0)
data.production_companies[data.original_title.apply(lambda lenght: len(lenght)).argmax(0)]

['Twentieth Century Fox Film Corporation', 'Four By Two Productions']

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [362]:
answers['25'] = '3 - Midnight Picture Show'

In [363]:
data['overview_words_length'] = data.overview.map(lambda x: len(x.split(' ')))
overview_num = pd.Series(0, index = list_production_companies)
overview_length = overview_num.copy()

def add_overview_length(massiv_name, length):
    for item in massiv_name:
        overview_length[item] += length
        overview_num[item] += 1
    return

for item in range(len(data)):
     add_overview_length(data.production_companies[item], data['overview_words_length'][item])
overview_length_N1 = overview_length/overview_num
overview_length_N1[overview_length_N1 == overview_length_N1.max()]

Midnight Picture Show    175.0
dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [364]:
answers['26'] = '1 - Inside Out, The Dark Knight, 12 Years a Slave'

In [365]:
# вариант 1
data.original_title[data.vote_average.quantile(.99) < data.vote_average]

9                                          Inside Out
34                                               Room
118                                      Interstellar
119                           Guardians of the Galaxy
125                                The Imitation Game
128                                         Gone Girl
138                          The Grand Budapest Hotel
370                                         Inception
599                                   The Dark Knight
872                                       The Pianist
1081    The Lord of the Rings: The Return of the King
1183                          The Wolf of Wall Street
1191                                 12 Years a Slave
1800                                          Memento
Name: original_title, dtype: object

In [366]:
# вариант 2
percent_rating_value = 1
data.original_title[data.vote_average.sort_values(ascending=False)[0:round(percent_rating_value*len(data)/100)-1].index]

599                                   The Dark Knight
125                                The Imitation Game
9                                          Inside Out
118                                      Interstellar
34                                               Room
1081    The Lord of the Rings: The Return of the King
138                          The Grand Budapest Hotel
1183                          The Wolf of Wall Street
370                                         Inception
119                           Guardians of the Galaxy
1800                                          Memento
128                                         Gone Girl
872                                       The Pianist
1191                                 12 Years a Slave
283                                        Mr. Nobody
1688                              There Will Be Blood
863             The Lord of the Rings: The Two Towers
155                          The Theory of Everything
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [379]:
answers['27'] = '5 - Daniel Radcliffe & Rupert Grint'

In [378]:
ds = pd.Series(list(), list())


for item in range(len(data)):
    list_cast = list(it.permutations(data.cast[item], 2))
    list_indx = list(itertools.repeat(data.imdb_id[item], len(list_cast)))
    ds = ds.append(pd.Series(list_cast,list_indx))
    
ds.value_counts()

<ipython-input-378-6ea17def7b49>:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  ds = pd.Series(list(), list())
<ipython-input-378-6ea17def7b49>:7: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  ds = ds.append(pd.Series(list_cast,list_indx))

(Emma Watson, Rupert Grint)                 8
(Emma Watson, Daniel Radcliffe)             8
(Rupert Grint, Emma Watson)                 8
(Daniel Radcliffe, Rupert Grint)            8
(Rupert Grint, Daniel Radcliffe)            8
                                           ..
(Wendi McLendon-Covey, Maya Rudolph)        1
(Joe Manganiello, Arnold Schwarzenegger)    1
(Pam Grier, Clea DuVall)                    1
(Gary Oldman, Mila Kunis)                   1
(Barnaby Carpenter, Aurora Perrineau)       1
Length: 35885, dtype: int64

ВАРИАНТ 2

# Submission

In [368]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '5 - Pirates of the Caribbean: On Stranger Tides',
 '2': '2 - Gods and Generals',
 '3': '3 - Winnie the Pooh',
 '4': '2 - 110',
 '5': '1 - 107',
 '6': '5 - Avatar',
 '7': '5 - The Lone Ranger',
 '8': '1 - 1478',
 '9': '4 - The Dark Knight',
 '10': '5 - The Lone Ranger',
 '11': '3 - Drama',
 '12': '1 - Drama',
 '13': '5 - Peter Jackson',
 '14': '3 - Robert Rodriguez',
 '15': '3 - Chris Hemsworth',
 '16': '3 - Matt Damon',
 '17': '2 - Action',
 '18': '1 - K-19: The Widowmaker',
 '19': '5 - 2015',
 '20': '1 - 2014',
 '21': '4 - 9',
 '22': '2 - 450',
 '23': '5 - Peter Jackson',
 '24': '5 - Four By Two Productions',
 '25': '3 - Midnight Picture Show',
 '26': '1 - Inside Out, The Dark Knight, 12 Years a Slave'}

In [371]:
# и убедиться что ни чего не пропустил)
len(answers)

26